@media (min-width:935px) {
  .wait-img-box{
    left:40%;
    top:30%;
  }
  .mobile-menu{
    width:500px;
  }
  .head{
    position: none;
    z-index: 0;
    padding: 10px 10px;
  }
  .main-head{
    position: fixed;
    z-index: 1000;
  }
  .navbar h3,.navbar p{
  padding-bottom:25px;
  padding-top:20px;
  padding-left:10px;
  }
  .navCon{
    margin-top: 50px;
  }
  .close{
    font-size:45px;
    top:20;
  }
  .grid{
    justify-content: center;
    
  }

 #newdiv #input {
    min-width:600px;
    margin-top:0;
    z-index:1000;
  }
  #search{
    margin-top:0;
  }
  #laptops h2,#mobiles h2,#deals h2{
    text-align: center;
  }
  .inpCon{
    margin-left:250px;
  }
  #newdiv{
    position: absolute;
    top:1px;

  }
  .shopcatgry{
    margin-top:70px;
  }
  .foot{
    grid-gap:100px;
  }
  .adddiv{
   margin-top:55px;
   position: none;
  
  }
  .cardSummary{
    width:95%;
   margin-top:10px;
   padding-left:20px;
   justify-content: start;
   gap:150px;
   
  }
  .span{
    top:100px;
    font-size:40px;
  }
  .cardimg .span{
  font-size:35px;
  position: absolute;
  cursor: pointer;
  top:-0%;
  left:97%;
}
  #appleimg{
  width:250px;
  height:270px;
}
.addcard{
  padding:15px 0px;
}
.addcard p{
 font-weight:bold;
 font-size:25px;
 padding:10px 0px;
 text-align:start;
}
.addcard #paras{
  font-size:25px;
}
#fd{
  color:#4D5AE7;
  font-size:15px;
  text-align:start;
  padding:10px 0px;
}
#hidepass{
  left:600px;
}

}
@media (max-width:905px) {
  .inpCon{
    margin-left:0px;
  }
}
@media (min-width:1150px) {
  .inpCon{
    margin-left:350px;
  }
  #newdiv #input {
    min-width:800px;
  }
}

@media (min-width:905px) {
  #inp1,#inp2,#inp3,#inp4{
    width:30%;
  }
  #hidepass{
  width:20px;
  position: absolute;
  left: 63%;
  top:365px;
}
}