*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  width:100%;
  height:100vh;
  background-color: #DFD3A5;
}
.waiting-box{
 display: none;
  z-index: 1500 !important;
}
.wait-img-box{
  position: absolute;
  display: flex;
  padding: 5px;
  border-radius:5px;
  gap:10px;
  top:40%;
  left:30%;
  background-color: #fff;
}
#wait-image{
  width:50px;
  animation:rotate infinite 1s linear;
}
#wait-para{
  margin: 15px 0px;
  font-weight:500;
}
@keyframes rotate{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
   }
  }
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left:0;
  width: 250px;
  height: 100%;
  background: #575757;
  transform: translateX(-100%);
  transition: 0.3s ease;
  padding-top: 40px;
  z-index: 1000;
  overflow: scroll;
  border-right:1px solid gray;
  z-index:1500;
}
 .menu{
  cursor: pointer;
 }
 a{
  color:black;
  text-decoration: none;
  
}
 .navbar{
  background-color:white;
  width: 100%;
  padding-left:10px;
  margin-top:2px;
  
}
.navbar h3,.navbar p{
padding-bottom:15px;
padding-top:10px;
}
.close {
  position: absolute;
  top: 5px;
  right:10px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}
 .loginbox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.upbox{
  height:380px;
  width:300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #ccc;
  border-radius:10px;
  position: fixed;
  top:-1000px;
  background:#FFF36D;
  transition:0.8s;
  z-index:1000;
 }

.showbox{
  top:200px;
}
.no-scroll{
  overflow: hidden;
}
#hidepass1{
  width:20px;
  position: absolute;
  right:45px;
  top:152px;
  cursor: pointer;
}
#h2{
  border-bottom:1px solid black;
  text-align: center;
  font-size:1.5rem;
  margin-top:0;
  padding: 10px;
}
#input1,#input2{
  margin-bottom:0px;
  width:80%;
  font-size:1rem;
  border-radius:10px;
  padding:0.5rem;
  margin-left:1.8rem;
  margin-top: 20px;
}
#input1:hover,#input2:hover{
border: 2px solid #F6CD4D;
outline: none;
}
.inputnew{
  border:1px solid red;
}
#para1,#para2{
color: red;
font-weight:normal;
margin-left:40px;
}
#span{
  position: absolute;
  cursor: pointer;
  font-size:2.5rem;
  font-weight:400;
  left:90%;
  top:0;
  color:#292A26;
}
.button{
  margin-left:1.8rem;
  margin-top:30px;
  width:80%;
  font-size:2rem;
  border-radius:60px;
  font-size:1.1rem;
  font-weight: bold;
  background-color: yellow;
  padding:0.5rem;
  border: none;
  box-shadow:0px 0px 2px 2px #5F5F5F;
}
.button:hover{
  opacity:0.6;
}
#forget{
  font-size:0.8rem;
  color:#2534D6;
  text-align: center;
  margin-top:10px;
}
#account{
  margin-top:1.8rem;
  padding:10px;
  color:blue;
  border:1px solid;
  border-radius:10rem;
  font-size:1rem;
  width:80%;
  margin-left: 1.8rem;
}
#account:hover{
  background:#FFF519;
}
.head{
  background:#0D2039;
  width:100%;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 top:0;
 left:0;
 position:fixed;
z-index:999;
}

header{
  background-color: #0D2039;
  padding:5px;
  
}
#image{
  width:100%;
  height:50px;
}
#img {
  height:35px;
  width:35px;
  margin-left:8px;
  cursor: pointer;
}
#imglogin{
  height:35px;
  width: 35px;
  border-radius: 50px;
  cursor: pointer;
}
#logout{
  background: #000;
  padding:10px 15px;
  position: absolute;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  right:35px;
  top:50px;
  display: none;
}
#add-podt{
  color:orange;
  position: absolute;
  margin-left:15px;
  font-size:15px;
  padding:3px 5px;
  border: none;
  border-radius:50px;
  font-weight:bold;
  top:2px;
  background:black;
}
#search {
  height:2.5rem;
  width: 2.5rem;
  background-color: #E9AC38;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  margin-left:-40px;
  margin-top: 50px;
  cursor: pointer;
}
#input{
  width:100%;
  height:2.5rem;
  border-radius:10px;
  font-size:1rem;
  border: none;
  padding-left:0.5rem;
  margin-top: 50px;
}
#newdiv{
  margin:8px 5px;
}
.A{
  font-size:1.5rem;
  color:white;
  display: flex;
  gap:5px;
}
.B{
  display: flex;
  gap:5px;
}
.B p{
  color:#fff;
  padding-top: 6px;
}
.inpCon{
display: flex;
flex-direction: column;
justify-content: center;
}
.menu{
  margin-top:5px;
}
.A p{
  margin-top:7px;
  margin-left:-10px;
}

.shopcatgry span{
  color:#C3C4D7;
  padding-left:16px;
  
}
.option{
  display: flex;
 margin-top:3px;
 margin-bottom:10px;
 overflow: auto;
}
.option h3{
  color:white;
  font-weight: 400;
  margin-right:15px;
  margin-left:15px;
  cursor: pointer;
  text-align:center;
}
.option h3:hover{
  transition:0.5s;
  border: 1px solid white;
  padding:2px 2px;
}
.grid{
  /*display:grid;
  grid-template-rows:repeat(1,25rem);
  grid-template-columns:repeat(4,20rem);*/
  padding:10px;
  display: flex;
  grid-gap:20px;
  overflow: auto;
  
}
@keyframes animationCard{
  0%{
    opacity:0;
    transform: translateX(-100%);
  }
  100%{
    opacity:1;
    transform: translateX(0);
  }
}
.box{
  min-width:200px;
  background-color: white;
  border:1px solid black;
  border-radius:10px;
  margin-bottom:30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow:1px 1px 5px 1px #726B6B;
  animation: animationCard 1s ease;
}
.box:hover{
  scale:0.95;
  transition: 0.5s scale;
}
#laptop{
  width:80%;
  height:140px;
  padding:10px 0px;
}
#dealimg{
  width:100px;
  height: 120px;
  padding:10px 0px;
}
#mobile {
  width:110px;
  height:150px;
  padding:10px 0px;
}
#mobile1{
  width:100px;
  height:120px;
  padding:10px 0px;
}
#mobile2{
  width:120px;
  height:120px;
  padding: 10px 0px;
}

#laptops,#mobiles,#deals{
  margin:10px;
}
#laptops h2,#deals h2{
  color: black;
  font-size:1.5rem;
  padding:10px 0px;
  text-align:start;
  font-weight:500;
}
#mobiles h2{
  color: black;
  font-size:1.5rem;
  padding-bottom:15px;
  text-align:start;
  font-weight:500;
}
.a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.a h4{
  padding-bottom:10px;
  color:#186CF3;
  text-align: center;
}
.a p{
  font-size:1.2rem;
  font-weight:500;
  text-align: center;
  padding:5px;
}

#cardbtn{
  border:1px solid black;
  background-color:#F3D918;
  font-size:13px;
  font-weight:500;
  border-radius:50px;
  padding:8px 10px;
  cursor: pointer;
  margin-bottom:15px;
}
#cardbtn:disabled{
  background-color: gray;
  cursor: not-allowed;
  color:#BEC0D6;
}

.div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px 0px;
}
#peroff{
  font-size:15px;
  background:#D735B5;
  color:white;
  padding:5px;
  border-radius: 5px;
} 
#dealtime{
  color:#D735B5;
  font-size:18px;
  font-weight:600;
  text-align:start;
  padding-left:5px;
}
.line{
  border-bottom: 5px solid gray;
}
footer{
  background-color:#0D2039;
}
.foot{
  display: flex;
  justify-content:center;
  align-items: center;
  gap:10px;
}
.onebox p,.twobox p{
  color:#CACACA;
  padding:10px 15px;
  text-align: center;
}
.foot2{
  display: flex;
  justify-content: center;
}
.foot2 p{
  color:#ccc;
  padding:2px 10px;
  font-size:13px;
  text-align: center;
}
#footpara{
  color:#ccc;
  padding:10px;
  text-align: center;
  font-size:13px;
}
